body {
  background-color: lightblue;
  font-family: "Satisfy", cursive;
  color: #445;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  box-shadow: 0 0.1px 5px rgb(0, 0, 0.15);
}

nav ul {
  list-style-type: none;
}

.loga {
  margin-left: 20px;
  font-size: 28px;
  letter-spacing: 5px;
}

.meny {
  display: flex;
  list-style-type: none;
  font-weight: 300px;
  font-size: 16px;
}

.meny li {
  margin-right: 14px;
}

img {
  display: flex;
  width: 300px;
  margin-left: 475px;
}

.p1 {
  margin-top: 246px;
  margin-left: 380px;
  font-size: 20px;
  letter-spacing: 5px;
}
h1 {
  display: flex;
  font-size: 50px;
  margin-left: 15px;
  margin-top: 250px;
}

.p1-info {
  font-size: 13;
}

.projekt-2 {
  transform: rotate(270deg);
}

.p2 {
  margin-top: 200px;
  font-size: 20px;
  letter-spacing: 3px;
}

.projekt.2 {
  width: 200px;
}
